.infoForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

.infoInput{
    border: none;
    outline: none;
    background-color: var(--inputColor);
    border-radius: 8px;
    padding: 20px;
    flex:1; /*sets width of input as total available space, if 2 inputs then 50-50*/
}

.infoForm>div{
    display: flex;
    gap: 1rem;
    height: 2rem;
    width: 90%;
  }